*{
    margin: 0;
    padding: 0;
}
.headerBanner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: screen;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.transButton{
    justify-items: flex-start;
}
.logo{
    margin-left: 68px;
    margin-top: 15px;
    height: 40px;
    width: auto;
}
.translateButton{
    margin-top: 9px;
}

.BudgetContainer{
    position: relative;
    display: flex;

    justify-content: center;
}
.BudgetCard{
    width: 100%;
    height: 350px;
    border-radius: 0;
    background:linear-gradient(360deg, #011826, #004977);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}
.BudgetHeader{
    align-self: flex-start;
    color:white;
    font-family: Noto Sans;
    font-weight: 300;
    font-size: 20px;
}
.BudgetContent{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ButtonSection{
    display: flex;
    flex-direction: row;
}
.BudgetGauge{
    margin: 10px;
}
.BudgetButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 3px;
    border: 1px solid #ffffff;  /* Corrected the border definition */
    background-color: transparent;  /* Changed 'none' to 'transparent' */
    text-align: center;
    height: 40px;
    width: 170px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    font-family: Noto Sans;
}
.BudgetCustomer{
    color:white;
    font-family: Noto Sans;
    font-weight: 600;
}