* {
    margin: 0;
    padding: 0;
    font-family: Noto Sans;
}

.container {
    color: black;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align the title and cards */
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px; /* Add some padding inside the container */
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.title {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.card {
    color:white;
    position: relative; /* Required for positioning child elements absolutely */
    border: 1px solid rgb(215, 215, 215); /* Ensure border is visible */
    border-radius: 10px;
    width: 320px; /* Adjust width to make the card larger */
    height: 200px; /* Set a fixed height for the card */
    margin-top: 10px; /* Add margin to space out the cards */
    background-color: #f8f8f8; /* Light background color for cards */
    overflow: hidden; /* Prevent text overflow issues */
    background-size: cover; /* Make sure the image covers the entire card */
    cursor: pointer;
    background-repeat: no-repeat;
}

.card-content {
    position: absolute; /* Allows you to place the text precisely */
    bottom: 10px; /* Place text 10px from the bottom of the card */
    left: 10px; /* Place text 10px from the left of the card */
    font-size: 16px; /* Set font size */
    padding: 5px;
    border-radius: 8px;
}

.card-1 {
    background: linear-gradient(to top, black 5%, transparent), 
    url('../../assets/card1.webp'); /* Gradient and image together */
    background-position: 90% center; /* Move slightly more to the right */
    background-size: 160%;
    background-repeat: no-repeat;
}

.card-2 {
    background: linear-gradient(to top, black 10%, transparent), 
    url('../../assets/card2.jpg'); /* Gradient and image together */
    background-size: 105%;
}

.card-3 {
    background: linear-gradient(to top, black, transparent), 
    url('../../assets/card3.webp'); /* Gradient and image together */
    background-size: 100%;
}

.card-4 {
    background: linear-gradient(to top, black, transparent), 
    url('../../assets/card4.jpg');
    background-size: 120%;
    background-position: 90% center; /* Move slightly more to the right */
}

.card-5 {
    background: linear-gradient(to top, black, transparent), 
    url('../../assets/card5.webp');
    background-position: 90% 0%; /* Center horizontally and move higher vertically */
    background-size: 120%;
}

.card-6 {
    background: linear-gradient(to top, black, transparent), 
    url('../../assets/card6.jpg');
    background-size: 120%;
}

.card-7 {
    background: linear-gradient(to top, black, transparent), 
    url('../../assets/card7.jpg'); 
    background-size: 100%;
    background-position: 30% center; /* Move slightly more to the right */
}

.card-8 {
    background: linear-gradient(to top, black, transparent), 
    url('../../assets/card8.jpg');
    background-position: 90% 170%; /* Center horizontally and move higher vertically */
    background-size: 100%;
}