.ChatContainer{
    position: relative;
    margin-top: 5rem;
    display: flex;
    background-color: white;
    justify-content: center;
    margin-bottom: 4rem;
}
.Chatbox{
    display: flex;
    align-items: center;
    height: 24rem;
    flex-direction: column;
    width: 92%;
}

.mainCon{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}