* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centers both vertically */
    align-items: center;      /* Centers horizontally */
    height: 100vh;            /* Takes full viewport height */
  }

  .logo{
    width: 150px;
    margin-bottom: 20px;
  }
  
  .form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Controls the space between the form fields and the button */
  }
  
  .center-button {
    padding: 10px 20px;
    font-size: 16px;
  }
  